.Rproj.user/*
.Rhistory
.RData
.Ruserdata
.Rproj.user/A9B98352/sources/prop/FB60466A
.Rproj.user/A9B98352/sources/prop/INDEX
.Rproj.user/A9B98352/sources/s-A81C0724/B0CE6993
.Rproj.user/A9B98352/sources/s-A81C0724/B0CE6993-contents
.Rproj.user/A9B98352/sources/s-A81C0724/lock_file
.Rproj.user/shared/notebooks/paths
